# Ignore node_modules directory
node_modules/

# Ignore log files
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignore temporary files
*.tmp
*.swp

# Ignore environment variable files
.env

# Ignore macOS system files
.DS_Store

# Ignore Visual Studio Code settings
.vscode/

# Ignore IntelliJ IDEA project files
.idea/

# Ignore Office Add-in debugging files
.sass-cache/
.next/
.build/
out/
